# Arquivos específicos do Eclipse
.classpath
.project
.settings/

# Diretórios específicos do Eclipse
bin/
target/
.settings/
.classpath
.project

# Arquivos gerados pelo Maven
mvnw
mvnw.cmd
.mvn/
target/

# Arquivos de log
log/
logs/

# Arquivos de build
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos temporários
tmp/
temp/
*.tmp

# Arquivos de propriedades gerados automaticamente
application.properties

# Arquivos de configuração
application.yml

# Arquivos de dependências baixadas pelo Maven
repository/

# Diretório da IDE IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Diretório da IDE NetBeans
nbproject/private/

# Diretório da IDE VSCode
.vscode/
